<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container">
  <!-- <a class="navbar-brand" href="/"> <img src="../../static/images/logo.png" class="logo"
      style="width: 100px; cursor: pointer;"> </a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-start align-items-start" id="navbarText">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fruitml">Predict Fruit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>
</div>
</nav>
<br>